<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cggw.register.dao.AppointmentMapper">

<!--    //根据医生id查询医生预约情况（前端展示）-->
    <select id="queryDoc" parameterType="java.lang.Integer" resultType="java.util.Date">
        SELECT ap_time FROM appointment where d_id = #{dId} and ap_remain > 0
    </select>

<!--    //根据科别查所有医生信息情况-->
    <select id="queryDept" parameterType="java.lang.String" resultType="com.cggw.register.domain.Appointment">
       SELECT  * FROM appointment where d_id in (SELECT d_id from doctor where h_dept = #{hDept} and h_id = #{hId})
    </select>

    <!--  //更新医生预约表,剩余量增加或减少
    boolean updateAppointment(@Param("id") Integer id, @Param("flag") boolean flag);-->
    <update id="updateAppointment">
        update appointment set
        <if test="flag == true">
            ap_remain = ap_remain + 1
        </if>
        <if test="flag == false">
            ap_remain = ap_remain -1
        </if>
        WHERE d_id = #{appointment.dId}
        and ap_type = #{appointment.apType}
        and ap_time = #{appointment.apTime}
        and ap_remain > 0
    </update>

</mapper>