<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cggw.register.dao.DoctorMapper">

   <!-- //搜索科室搜索医生（列出医生的头像、职称）
    List<Doctor> getDocByDept(Integer hId,Integer hDept);-->
    <select id="getDocByDept" resultType="com.cggw.register.domain.Doctor">
        select * from doctor where h_id = #{hId} and h_dept = #{hDept} and h_room = #{hRoom}
    </select>

<!--    //根据医生id进行搜索医生
    Doctor getDocById(Integer dId);-->
    <select id="getDocById" resultType="com.cggw.register.domain.Doctor">
        select * from doctor where d_id = #{dId}
    </select>


   <!-- //根据医生id进行搜索该医生的医院
    String getDocHospById(Integer dId);-->
    <select id="getDocHospById" resultType="java.lang.String">
        select h_name from hospital where h_id IN (
          select h_id from doctor where d_id = #{dId})
    </select>

</mapper>