<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cggw.forum.dao.ForumMapper">

  <!-- &lt;!&ndash; //获取所有帖子的消息
    List<Forum> getAllForums();&ndash;&gt;
    <select id="getAllForums" resultType="com.cggw.forum.domain.Forum">
        select * from forum order by t_date DESC
    </select>-->

    <!-- 首页面中所有帖子需要获取的所有内容-->
    <select id="getAll" resultType="com.cggw.forum.domain.ForumAndName">
/*       SELECT m.t_id,t_content,name,pic,count from
            (select t_date,t_id,t_content,name,pic from forum,
                    (select u_name as name ,u_pic as pic,u_id as id from user
                    union
                    select d_name as name ,d_pic as pic ,d_id as id from doctor) t where forum.id = t.id) m,
            (select count(*) as count ,t_id from reply GROUP BY t_id) k
where m.t_id = k.t_id
order by t_date DESC*/
         SELECT * from (SELECT f.t_id,t_title,t_content,t_date,u_pic,u_name,count(*) cou from forum f, user u,reply r where f.id = u.u_id and f.t_id=r.t_id and f.keyword = #{keyword}GROUP BY f.t_id) k LIMIT 10
   </select>


    <!--//创建一个帖子
    boolean insertIntoForum();-->
    <insert id="insertIntoForum" parameterType="com.cggw.forum.domain.Forum">
        insert into forum values(#{forum.tId},#{forum.id},#{forum.tTitle},#{forum.tDate},#{forum.fContent})
    </insert>

    <!--//删除一个帖子
    boolean  deleteForumBytId();-->
    <delete id="deleteForumBytId" parameterType="java.lang.Integer">
        delete from forum where t_id = #{tId}
    </delete>

    <!--//根据tId删除所有评论
    boolean deleteReplyBytId(Integer tId);-->
    <delete id="deleteReplyBytId">
        delete from reply where t_id = #{tId}
    </delete>

    <!--//发评论
    boolean  insertIntoReply();-->
    <insert id="insertIntoReply" parameterType="com.cggw.forum.domain.Reply">
          insert into reply(t_id,r_id,r_time,id,r_content,st_id) values(#{reply.tId},#{reply.rId},#{reply.rTime},#{reply.id},#{reply.rContent},#{reply.stId})
    </insert>

    <!--//删帖评论
    boolean  deleteReply();-->
    <delete id="deleteReply" parameterType="java.lang.Integer">
        delete from reply where r_id =#{rId} or st_id = #{rId}
    </delete>

    <!--//发子评论
    boolean insertIntoReplyChild();-->
    <insert id="insertIntoReplyChild" parameterType="com.cggw.forum.domain.Reply">
       insert into reply values(#{reply.tId},#{reply.rId},#{reply.rTime},#{reply.id},#{reply.stId},#{reply.rContent})
    </insert>

    <!--//删子评论
    boolean deleteReplyChild();-->
    <delete id="deleteReplyChild" parameterType="java.lang.Integer">
        delete from reply where r_id =#{rId}
    </delete>

    <!--//进入帖子后获取评论
    lsit Reply getReplyByForumId();-->
    <select id="getReplyByForumId" parameterType="java.lang.Integer" resultType="com.cggw.forum.domain.Reply">
        select * from reply where t_id = #{tId}
    </select>

   <!-- //根据帖子获取帖标题
    String getForumById(Integer tId);-->
    <select id="getForumById" resultType="java.lang.String">
        SELECT t_content from forum where t_id = #{tId}
    </select>

  <!--  //根据用户id获取帖子
    List<Forum> getOwnForum(int account);-->
    <select id="getOwnForum" resultType="com.cggw.forum.domain.Forum">
        SELECT * from forum where id = #{account}
    </select>

</mapper>