<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cggw.register.dao.HospitalMapper">
   <!-- //推荐医院，属性为医院名称，医院图片，地址，分数.(待修改，待测试）
    List<Hospital> getHospByCommand();-->
    <select id="getHospByCommand" parameterType="" resultType="com.cggw.register.domain.Hospital">
        select top 10 * from hospital order by h_score
    </select>
   <!-- //根据医院列出所有科室
    List<String> getHospdept(Integer hId);-->
    <select id="getHospdept"  parameterType="java.lang.Integer" resultType="java.lang.String">
        select h_dept from hospdept where h_id =#{hId}
    </select>

  <!--  //根据医院、科别列出所有科室
    List<String> getHospdeptRoom(Integer hId,Integer hDept);-->
    <select id="getHospdeptRoom" resultType="java.lang.String">
        select h_room from hospdept where h_id = #{hId} and h_dept = #{hDept}
    </select>

</mapper>